body {
  font: 14px/1.5 "Helvetica Neue",
                 Helvetica,Arial,"Microsoft Yahei",
                 "Hiragino Sans GB","Heiti SC",
                 "WenQuanYi Micro Hei",sans-serif;

    width: 1901px;
    height: 7130px;

    color: #333;
    background-color: #fff;
    margin: 0;

}
.dbt1{
  position: relative;
  z-index: 30;
  height: 40px;
  
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}

.bt1{
  width: 1901px;
  height: 100px;
}
.zuobiao{
  width:1226px;
  height:100px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.zuobiao::before{
  content: " ";
  display: table;
}
.bt1 .logo::before{
    background: url(../i/mi-logo.png) no-repeat 50% 50%;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.bt1 .logo::before, .bt1 .logo::after{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: '';
    transform-origin: 50% 50%;
    transition: all .2s;
}
.quanlogo{
 
}
.xiulogo{

}
.quanlogo .xiulogo{
    float: left;
    width: 62px;
    margin-top: 22px;
}